body{
    margin: 0;
    padding: 0;
    background: url(img/campnou-bag.jpg) no-repeat center center fixed;
    background-size: cover;

}

.table caption{
    border: 2px solid rgb(0, 0, 98);
    border-bottom: none;
    border-radius: 20px 20px 0 0;
    height: 100px;
    background: url(img/caption-bag.jpg) no-repeat center center ;
    background-size: cover;
    text-align: center;
}

caption span{
    background: transparent !important;
    font-size: 60px;
    font-family: arial;
    font-weight: bold; 
    color: rgb(185, 157, 0);
    text-shadow: 0 0 4px black;
}


.table{
    margin: 200px auto 0 auto;
    width: 80%;
    border-radius: 0 0 20px 20px;
    color: white;
    background: linear-gradient(to left,rgb(0, 0, 98),rgba(0, 14, 173, 0.751),rgb(0, 0, 98));
    position: relative;
}

.table th{
    padding-top: 10px;
    font-size: 18px;
    font-family: arial;
    font-weight: bold; 
    color: gold;
    text-shadow: 0 1px 4px black;
}

.table td{
    text-align: center;
    color: white;
}

.table :nth-child(odd){
    background-color: rgba(0, 0, 98, 0.5);
}

.table tr :nth-child(2){
    font-size: 20px;
    text-align: left !important;
    font-family: arial;
    font-weight: bold; 
}

.table tr :nth-child(1){
    font-size: 20px;
    text-align: center !important;
    font-family: arial;
    font-weight: bold; 
    color: gold;
    text-shadow: 0 0 4px black;
}

.btn{
    position: absolute;
    left: 40%;
    color: white;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: gold;
    border-radius: 13px;
    border: none;
    transition: all 0.7s;
    padding: 10px;
}

.btn:hover{
    transform: rotateY(180deg) scale(1.1);
}